{% extends "main/base_estab.html" %}

{% load static %} 
{% block content %}

    {% for info in info %}
        <p>telefone: {{ info.telefone }}</p>
        <p>tipo: {{ info.tipo }}</p>
        <p>first_name: {{ info.first_name }}</p>
        <p>email: {{ info.email }}</p>
        <p>endereco: {{ info.endereco }}</p>
    {% endfor %}


    <h1>Calendário</h1>
    <div class="calendario_posição">
        <form method="post" id="calendarioForm" class="calendarioForm">
            {% csrf_token %}
            {{ dia_form.as_p }}
            {{ mes_form.as_p }}
            {{ ano_form.as_p }}
            <button type="submit">Mostrar Calendário</button>
        </form>

        {% if calendario %}
            <div>{{ calendario|safe }}</div>

        {% endif %}
    </div>

{% endblock %}
