{% extends "main/base_estab.html" %}

{% load static %} 
{% block content %}

    {% for info in info %}
        <p>telefone: {{ info.telefone }}</p>
        <p>tipo: {{ info.tipo }}</p>
        <p>first_name: {{ info.first_name }}</p>
        <p>email: {{ info.email }}</p>
        <p>endereco: {{ info.endereco }}</p>
    {% endfor %}

    
    <h2>Calendário</h2>
    <form action="{% url 'estab_app:pagina_estab' user.id %}" method="get">
        <label for="year">Ano:</label>
        <input type="text" id="year" name="year" value="{{ year }}">
        <label for="month">Mês:</label>
        <input type="text" id="month" name="month" value="{{ month }}">
        <input type="submit" value="Atualizar">
    </form>

    <hr>
    {{ calendar_html|safe }}

    <script>
        // Seleciona todos os spans dentro de td
        var spans = document.querySelectorAll('td span');

        // Itera sobre os spans encontrados
        spans.forEach(function(span) {
            // Acessa o pai do span (o td) e adiciona a classe nele
            span.parentNode.classList.add('destaque');
        });
    </script>

{% endblock %}
