{% extends 'main/base_estab.html' %}

{% load static %} 
{% block content %}

<h1>Página do Estabelecimento</h1>

<div class="container">
    <div class="info-estab">
        <h1 style="text-align: center; font-size: 28px;">Dados do Estabelecimento</h1>
        <ul style="list-style: none; padding: 0; text-align: center; font-size: 18px;">
            <li><strong>Nome do Estabelecimento:</strong> {{ info.first_name }}</li>
            <li><strong>Descrição:</strong> {{ info.userprofile.descricao }}</li>
            <li><strong>Telefone para contato:</strong> {{ info.telefone }}</li>
            <li><strong>Email:</strong> {{ info.email }}</li>
            <li><strong>Endereço:</strong> {{ info.userprofile.endereco }}</li>
            <li><strong>Capacidade máxima de pessoas:</strong> {{ info.userprofile.capacidade_pessoas }}</li>
            <li><strong>Valor do aluguel:</strong> R$ {{ info.userprofile.valor_aluguel }} por {{ info.userprofile.tipo_horario }}</li>
        </ul>
    </div>



    <div class="calendar-container">
        <h2>Calendário</h2>
    
        <form action="{% url 'estab_app:profile' %}" method="get" class="calendar-form">
            <label for="year">Ano:</label>
            <input type="text" id="year" name="year" value="{{ year }}">
            <label for="month">Mês:</label>
            <input type="text" id="month" name="month" value="{{ month }}">
            <button type="submit">Atualizar</button>
        </form>
    
        <hr>
    
        <div class="calendar-content">
          {{ calendar_html|safe }}
        </div>
    
        <script>
            // Seleciona todos os spans dentro de td
            var spans = document.querySelectorAll('td span');
    
            // Itera sobre os spans encontrados
            spans.forEach(function(span) {
                // Acessa o pai do span (o td) e adiciona a classe nele
                span.parentNode.classList.add('destaque');
            });
        </script>
        
    </div>
</div>
<div class="slider">
    <div class="slides">
        <input type="radio" name="radio-btn" id="radio1">
        <input type="radio" name="radio-btn" id="radio2">
        <input type="radio" name="radio-btn" id="radio3">
        <input type="radio" name="radio-btn" id="radio4">
        <input type="radio" name="radio-btn" id="radio5">
        <input type="radio" name="radio-btn" id="radio6">
        {% if info.fotosestab.foto1 %}
        <div class="slide first">
            <img src="{{ info.fotosestab.foto1.url }}" alt="Imagem 1" >
        </div>
        {% endif %}
        {% if info.fotosestab.foto2 %}
        <div class="slide">
            <img src="{{ info.fotosestab.foto2.url }}" alt="Imagem 2" >
        </div>
        {% endif %}
        {% if info.fotosestab.foto3 %}
        <div class="slide">
            <img src="{{ info.fotosestab.foto3.url }}" alt="Imagem 3" >
        </div>
        {% endif %}
        {% if info.fotosestab.foto4 %}
        <div class="slide">
            <img src="{{ info.fotosestab.foto4.url }}" alt="Imagem 4" >
        </div>
        {% endif %}
        {% if info.fotosestab.foto5 %}
        <div class="slide">
            <img src="{{ info.fotosestab.foto5.url }}" alt="Imagem 5" >
        </div>
        {% endif %}
        {% if info.fotosestab.foto6 %}
        <div class="slide">
            <img src="{{ info.fotosestab.foto6.url }}" alt="Imagem 6" >
        </div>
        {% endif %}

        <div class="navigation-auto">
            <div class="auto-btn1"></div>
            <div class="auto-btn2"></div>
            <div class="auto-btn3"></div>
            <div class="auto-btn4"></div>
            <div class="auto-btn5"></div>
            <div class="auto-btn6"></div>
        </div>
    </div>

    <div class="manual-navigation">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
        <label for="radio5" class="manual-btn"></label>
        <label for="radio6" class="manual-btn"></label>
    </div>
</div>

<script src="{% static 'js/slides.js' %}"></script>

<style>
body {
    font-family: 'Open Sans', sans-serif;
    color: #333;
}

h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h4 {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.info-estab {
    width: 100%;
    max-width: 500px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}


   /* Adicione estilos para o container principal */
.calendar-container {
  max-width: 600px;
  margin: 0 auto;
}

/* Estilos para o formulário de atualização do calendário */
.calendar-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-form label, .event-form label {
  margin-right: -2px;
}

.calendar-form input, .event-form input {
  padding: 10px;
  margin-right: 10px;
}

/* Estilos para o formulário de eventos */
.event-form {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.event-form button {
  background-color: #db5609; /* Cor verde - pode ser ajustada conforme desejado */
  color: white;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

/* Estilos para a mensagem de erro */
.error-message {
  color: red;
  margin-top: 10px;
}

/* Estilos para o conteúdo do calendário */
.calendar-content {
  margin-top: 20px;
}

/* Estilos para os dias destacados no calendário */
.calendar-content td.destaque {
  background-color: #efe8e8; /* Cor de fundo para os dias destacados */
}

/* Estilos gerais para o calendário */
.calendar-content table {
  width: 100%;
  border-collapse: collapse;
}

.calendar-content table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.calendar-content table th {
  border: 1px solid #ddd;
  padding: 10px;
  background-color: #db5609; /* Cor de fundo para os cabeçalhos da tabela */
  color: white;
}

</style>



{% endblock %}
