{% extends 'main/base_cliente.html' %}

{% load static %} 
{% block content %}

<style>
    /* Adicione seu CSS personalizado aqui */
    

    section {
        background-color: #f8f8f8;
        padding: 20px;
        text-align: center;
    }

    form {
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 36px;
  }

    label {
        display: block;
        margin-bottom: 8px;
        color: #555;
    }

    input[type="text"],
    input[type="submit"],
    select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        box-sizing: border-box;

    }
    input{
    width: 10%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #817878;
    align-items: center;
  }

    input[type="submit"] {
        background-color: #db5609;
        color: #fff;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background-color: #db5609;
    }

</style>

<section class="w-full flex justify-center">
    
    <div class="w-[80%] mt-20">

        <h1>Cadastro de Grupo</h1>

        <form method="post">
            {% csrf_token %}
            
            <label for="{{ form.nome.id_for_label }}">Nome do Grupo</label>
            {{ form.nome }}
            <br>
            <br>
            <br>

            <label for="{{ form.membros.id_for_label }}">Membros</label>
            {{ form.membros }}
            <br>
            <br>
            <br>

            <label>Data</label>
            {{ form.dia }}
            /
            {{ form.mes }}
            /
            {{ form.ano }}
            <br>
            {{ mensagem }}
            <br>
            <br>

            <label for="{{ form.duracao.id_for_label }}">Duração</label>
            {{ form.duracao }} {% if info.userprofile.tipo_horario == 'hora' %} Horas {% else %} Noites {% endif %}
            <br>
            <br>
            <br>

            <input type="submit" value="Cadastrar Grupo">
        </form>

    </div>
</section>

{% endblock %}
