{% extends 'main/base_cliente.html' %}

{% load static %} 
{% block content %}

<section class="w-full flex justify-center">
    
    <div class="w-[80%] mt-20">

        <h2>Cadastro de Grupo</h2>

        <form method="post">
            {% csrf_token %}
            
            {{ form.nome.label_tag }}
            {{ form.nome }}
            <br>
            <br>
            <br>

            {{ form.membros.label_tag }}
            {{ form.membros }}
            <br>
            <br>
            <br>

            {{ form.dia.label_tag }}
            {{ form.dia }}
            /
            {{ form.mes }}
            /
            {{ form.ano }}
            <br>
            {{ mensagem }}
            <br>
            <br>

            {{ form.duracao.label_tag }}
            {{ form.duracao }} {% if info.userprofile.tipo_horario == 'hora' %} Horas {% else %} Noites {% endif %}
            <br>
            <br>
            <br>

            <input type="submit" value="Cadastrar Grupo">
        </form>

    </div>
</section>

{% endblock %}
