{% extends "main/base_cliente.html" %}
{% load static %} 
{% block content %}
<link rel="stylesheet" href="{% static 'css/feed.css' %}"/>

<header>
    <div class="sidebar-search_input" style="display: flex; align-items: center; margin-left: auto; padding: 3px;">
        <form class="d-flex sidebar-form" role="search">
            <input class="form-control search-input" type="search" placeholder="Search" aria-label="Search" style="margin: 0;">
            <button id="botao_colorido" class="btn btn-outline-success search-button" type="submit" style="margin: 0;">Search</button>
        </form>
    </div>
</header>

    {% for usuario in usuarios %}
        <a href="{% url 'estab_app:pagina_estab' usuario.first_name %}" class="feed_container">
            <div>
              <!--LOGO-->
            </div>
            <div>
              
              <div class="feed_div"> 
                  <h1>{{ usuario.first_name }}</h1>
              </div>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                          <img src="..." class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
  
                          <img   src="..." class="d-block w-100" alt="...">
                      </div>
                  </div>
                </div>
              </div>
        </a>
  
    {% endfor %}

{% endblock %}
    