{% extends "main/base_cliente.html" %}
{% load static %}

{% block content %}
  <section class="w-full flex justify-center">
    <div class="w-[80%] mt-20">

      <style>
        h1 {
          color: #333;
          font-size: 2em;
          margin-bottom: 20px;
        }

        h2 {
          color: #555;
          font-size: 1.5em;
          margin-bottom: 10px;
        }

        p {
          color: #777;
          margin-bottom: 10px;
        }

        table {
          width: 100%;
          border-collapse: collapse;
          margin-top: 10px;
        }

        th, td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        th {
          background-color: #db5609;
        }

        .pagamento-btn {
          background-color: #db5609;
          color: white;
          padding: 10px 15px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }

        button:hover {
          background-color: #db5609;
        }

        .mapa {
          margin-top: 30px;
        }

        .foto {
          width: 80px; /* Adjust the width as needed */
          height: 80px; /* Adjust the height as needed */
          border-radius: 50%;
          display: block; /* Ensures the image is treated as a block element */
          margin: 0 auto; 
        }

        /* Add more styles as needed */

      </style>

      <h1>Detalhes do Grupo</h1>

      {% for grupo in info %}
        <h2>{{ grupo.nome }}</h2>
        <p>Status: {% if grupo.status == 'pendente' %}Reserva pendente de confirmação do estabelecimento{% else %}Reserva confirmada{% endif %}</p>

        <h2>Membros:</h2>
        <table>
          <thead>
            <tr>
              <th>Membros</th>
              <th>Nome</th>
              <th>Valor a Pagar</th>
              <th>Status do Pagamento</th>
            </tr>
          </thead>
          <tbody>
            {% for membro_rel in grupo.statuspagamentomembro_set.all %}
              <tr>
                <td><img src="{{ membro_rel.membro.foto_perfil.url }}" alt="Foto de perfil" class="foto"></td>
                <td>{{ membro_rel.membro.first_name }} {{ membro_rel.membro.last_name }}</td>
                <td>{{ valor_membro }}</td>
                <td>{{ membro_rel.status_pagamento }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <br>
        <form method="post">
          {% csrf_token %}
          <button type="submit" class="pagamento-btn" name="realizar_pagamento">Realizar Pagamento</button>
        </form>
        <br>

        <h2>Informações do Estabelecimento:</h2>
        {% if grupo.estabelecimento.userprofile %}
          <p>Endereço: {{ grupo.estabelecimento.userprofile.endereco }}</p>
          <p>Descrição: {{ grupo.estabelecimento.userprofile.descricao }}</p>
          <p>Valor do Aluguel: R$ {{ grupo.estabelecimento.userprofile.valor_aluguel }}</p>
          <p>Capacidade de Pessoas: {{ grupo.estabelecimento.userprofile.capacidade_pessoas }}</p>
          <p>Tipo de Horário: {{ grupo.estabelecimento.userprofile.get_tipo_horario_display }}</p>

          <h2>Localização no Mapa:</h2>
          <div class="mapa">
            <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
            {{ mapa|safe }}
            <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
          </div>

        {% else %}
          <p>Informações do estabelecimento não disponíveis.</p>
        {% endif %}

      {% endfor %}
    </div>
  </section>
{% endblock %}
