{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <section class='botoes_grupo'>
        <input type='button' value="Criar grupo" class="btn btn-outline-success" id="botao_colorido"></input>
    </section>

    <section class="principal">
        <div >
            <div class='grupos'>
                <h2 class='grupo_nome'>Grupo 1</h2>
                <p>Evendo de teste</p>
            </div>
        </div>
    </section>
    
    <section class="principal">
        <div >
            <div class='grupos'>
                <h2 class='grupo_nome'>Grupo 2</h2>
                <p>Evendo de teste</p>
            </div>
        </div>
    </section>

{% endblock %}
