{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/init_page.css' %}">
</head>
<body>
    <section class="container_init_page">
        <h1>Resgistar ou logar</h1>
        <p></p>
        <form action="">
            <input type="button" value="Registrar-se como usuario">
            <input type="button" value="Registrar-se como estebelecimento">
            <input type="button" value="Login">
            <input type="button" value="Entrar sem logar">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam necessitatibus, quisquam labore mollitia sequi aut error natus libero sit illum sed quos, aliquam rerum hic id nostrum? Ipsam, voluptatibus nihil.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam ipsam cumque fugit, id exercitationem cum autem facilis et repudiandae, dolor illo aperiam asperiores sapiente. Harum accusantium odit asperiores quas neque.
        </form>
    </section>
</body>
</html>