{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="logo">
    <img src="{% static 'images/logo_desenho_transparente.png' %}" alt="" style="width: 200px; height: auto; margin-bottom: 10px;">
</div>

<div class="search-bar">
    <input type="text" placeholder="Pesquisar...">
    <button type="button">Buscar</button>
</div>
</div>

<div class="caixa_texto">
    <h1 class="titulo">Explore, Descubra, Reserve - Bem-vindo ao ReservaComigo!</h1>
    <h2 class="subtitulo">Desperte o aventureiro em você e descubra uma nova </br>
        maneira de reservar espaços incríveis.</h2>
    <p class="texto">No ReservaComigo, cada reserva é uma oportunidade para criar memórias inesquecíveis. 
        De retiros tranquilos a espaços vibrantes, oferecemos uma seleção cuidadosamente escolhida para tornar suas
         experiências verdadeiramente especiais. Liberte sua jornada de reserva conosco e descubra lugares extraordinários que
          se adequam ao seu estilo. O ReservaComigo - onde cada reserva é uma porta aberta para a aventura!</p>
</div>


{% endblock %}
