{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserva-Comigo</title>
    <link rel="stylesheet" href="{% static 'css/init_page.css' %}">
    <link rel="shortcut icon" href="{% static 'images/logo_fundotransparente.png' %}" type="image/x-icon">
</head>
<body>
    <section class="container_init_page">
        <img class="logo" src="{% static 'images/logo_fundotransparente.png' %}" alt="Logo">
        <h1>Resgistar ou logar</h1>
        <p></p>
        <form action="">
            <div class='div_bot'> 
            <a href="{% url 'reserva_app:cadastro' %}"><input type="button" value="Registrar-se como usuario"></a>
            <input type="button" value="Registrar-se como estebelecimento">
            </div>
            <div class='div_bot'>
            <input type="button" value="Login">
            <input type="button" value="Entrar sem logar">
            </div>
        </form>
    </section>
</body>
</html>