{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div>
    <div class="texto">
        <h3 class="titulo">Explore, Descubra, Reserve - Bem-vindo ao ReservaComigo!</h3> <br>
        <h4 class="subtitulo">Desperte o aventureiro em você e descubra uma nova maneira de reservar espaços incríveis. No ReservaComigo, acreditamos que cada reserva é uma oportunidade para criar memórias inesquecíveis. De retiros tranquilos a espaços vibrantes, oferecemos uma seleção cuidadosamente escolhida para tornar suas experiências verdadeiramente especiais. Liberte sua jornada de reserva conosco e descubra lugares extraordinários que se adequam ao seu estilo. O ReservaComigo - onde cada reserva é uma porta aberta para a aventura!</h4>
    </div>
</div>

{% endblock %}