{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pagina_convidativa.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Reserva-Comigo</title>
</head>
<body>
    <div class="logo">
        <img src="{% static 'images/logo_fundotransparente.png' %}" alt="">
        <h1>🫵 Sua Reserva, Sua Experiência 🥳</h1> <br>
        <div class="texto_convidativo">
            <p>O Reserva Comigo é mais do que uma plataforma de reservas; é uma jornada colaborativa para criar momentos únicos. Permitindo que cada membro do grupo participe ativamente na escolha do local, definição de horários e processos de pagamento, o Reserva Comigo coloca o poder nas mãos dos usuários.</p>
        </div>
    </div>
    <div class="texto_usuario">
        <br><h1>👋 Bem-Vindo Usuário 👨‍💼</h1>
        <br><h4>.Tenha Escolha Ativa:</h4>
        <br><p>Seja o protagonista nas decisões de reserva, escolhendo locais, datas e horários de forma colaborativa.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Crie Grupos Personalizados:</h4>
        <br><p>Forme grupos exclusivos para eventos específicos, tornando a reserva mais adaptável às suas necessidades.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Vote e Decida em Conjunto:</h4>
        <br><p>Participe de votações dentro do grupo para determinar o melhor dia, horário e local para todos.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Pagamento Integrado:</h4>
        <br><p>Realize pagamentos coletivos com todos os convidados de forma integrada no próprio aplicativo, sem complicações.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Um Feed Personalizado:</h4>
        <br><p>Fique conectado e crie memórias com quem você ama nos melhores estabelecimentos perto de você.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
    </div>
    <div class="barrinha"></div>
    <div class="texto_espaco">
        <br><h1>👋 Bem-Vindo Estabelecimento 🏢</h1>
        <br><h4>.Agenda Personalizada:</h4>
        <br><p>Visualize facilmente os horários ocupados pelos clientes através de uma agenda personalizada.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Aceite ou Recuse Reservas:</h4>
        <br><p>Gerencie solicitações de reserva, mantendo controle total sobre a disponibilidade do seu espaço.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Estilize seu Perfil:</h4>
        <br><p>Destaque as características únicas do seu negócio personalizando o perfil do seu estabelecimento.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Pagamento Seguro e Atrativo:</h4>
        <br><p>Poupamos o seu cliente de impecílhos ao pagar pelo seu serviço, para que o pagamento seja a parte mais fácil ao reservar.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
        <br><h4>.Integração Eficiente:</h4>
        <br><p>Integre-se de maneira eficiente ao ecossistema do Reserva-Comigo para maximizar a visibilidade e atrair clientes alinhados com sua proposta.</p>
        <br><img src="{% static 'images/imagem_sem_imagem.png' %}" alt="">
    </div>
</body>
</html>