{% extends "main/base_cliente.html" %}
{% load static %}

{% block content %}

<section class="w-full flex flex-col justify-center">
  <div class="mb-10">
      <div class="relative">
          <img class="img_top w-screen h-[800px] object-cover" src="{% static 'images/img/restaurant.jpg' %}" alt="">
          <div class="absolute inset-0 w-full flex flex-col items-center justify-center text-white">
              <div class="w-1/2 text-center">
                  <h1 class="text-5xl font-bold mb-12">Transforme seus momentos em memórias inesquecíveis, com apenas um clique, <strong class="bg-gradient-to-r from-[#F38423] to-[#4D96E2] bg-clip-text text-transparent">Reserva Comigo!</strong></h1>
                  <a class="inline-block transition px-24 py-3 text-lg font-medium text-white bg-[#F38423] border border-none rounded hover:bg-[#c9630a]  focus:outline-none line" href="">Fazer reserva!</a>
              </div>
          </div>
      </div>
  </div>
</section>
<section class="w-full flex flex-col justify-center items-center">
  <div class="w-full flex items-center justify-center my-20">
      <div class="w-4/5 flex items-center justify-between">
          <div class="w-1/2 flex justify-end">
              <div class="w-[70%] text-justify">
                  <h2 class="text-[#111827] font-bold text-3xl my-5">O que é o <strong class="text-[#4D96E2]">Reserva</strong> <strong class="text-[#F38423]">Comigo?</strong></h2>
                  <p class="text-xl">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, sequi aperiam dolores est labore necessitatibus voluptas pariatur obcaecati dolorum deleniti tempora id, non blanditiis sapiente soluta fuga facere vitae deserunt? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic enim dolorem minus officia, dolor consequuntur ab accusantium veniam, molestias molestiae inventore voluptatibus sunt quas suscipit voluptatem quisquam, nemo id ipsum.</p>
              </div>
          </div>
          <div class="w-4/5">
              <img class="w-full" src="{% static 'images/img/Lugare_reserva_comigo.png' %}" alt=""> 
          </div>
      </div>
  </div>
  <div>
      <div class="text-center my-10">
          <h2 class="text-[#111827] font-bold text-3xl my-5">Veja porque o <strong class="text-[#4D96E2]">Reserva Comigo</strong> é a melhor escolha!</h2>
          <div class="w-full flex justify-center text-white">
              <div class="box-shadow rounded-2xl relative w-[20%] h-[500px] m-5 overflow-hidden" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)">
                  <img class="rounded-2xl h-full object-cover transition duration-500" src="{% static 'images/img/img_1.jpg' %}" alt="">
                  <div class="rounded-2xl absolute inset-0 bg-gradient-to-b from-transparent to-black flex flex-col justify-end p-4">
                      <h3 class="text-2xl font-bold">Reservas em Grupo</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora consequatur voluptatibus quo, aperiam commodi qui, quaerat facere ex dolores.</p>
                  </div>
              </div>
              <div class="box-shadow rounded-2xl relative w-[20%] h-[500px] m-5 overflow-hidden" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)">
                  <img class="rounded-2xl h-full object-cover transition duration-500" src="{% static 'images/img/img_2.jpg' %}" alt="">
                  <div class="rounded-2xl absolute inset-0 bg-gradient-to-b from-transparent to-black flex flex-col justify-end p-4">
                      <h3 class="text-2xl font-bold">Praticidade</h3>
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore harum ratione beatae veritatis id cum architecto esse?</p>
                  </div>
              </div>
              <div class="box-shadow rounded-2xl relative w-[20%] h-[500px] m-5 overflow-hidden" onmouseover="zoomIn(this)" onmouseout="zoomOut(this)">
                  <img class="rounded-2xl h-full object-cover transition duration-500" src="{% static 'images/img/img_3.jpg' %}" alt="">
                  <div class="rounded-2xl absolute inset-0 bg-gradient-to-b from-transparent to-black flex flex-col justify-end p-4">
                      <h3 class="text-2xl font-bold">Pagamento automatico</h3>
                      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo quam voluptatibus.</p>
                  </div>
              </div>
          </div>
          <div class="w-full flex justify-center my-5">
              <a class="flex items-center text-xl  transition px-12 py-2 font-medium text-white bg-[#4D96E2] border border-none rounded hover:bg-[#3c77b6]  focus:outline-none line" href=""><svg class="w-9 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M17 3H21C21.5523 3 22 3.44772 22 4V20C22 20.5523 21.5523 21 21 21H3C2.44772 21 2 20.5523 2 20V4C2 3.44772 2.44772 3 3 3H7V1H9V3H15V1H17V3ZM4 9V19H20V9H4ZM6 11H8V13H6V11ZM6 15H8V17H6V15ZM10 11H18V13H10V11ZM10 15H15V17H10V15Z"></path></svg>Reservar agora mesmo!</a>
          </div>
      </div>
  </div>
</section>
<section class="w-full flex flex-col items-center">
  <div class="my-10">
      <div class="text-center mt-12">
          <h2 class="text-[#111827] font-bold text-3xl">Como isso <strong class="text-[#F38423]">funciona?</strong></h2>
      </div>
      <div class="flex items-center justify-center">
          <div class="w-1/2 flex justify-end">
              <img class="w-[180px] mt-5" src="img/line.png" alt="">
          </div>
          <div class="flex flex-col justify-center">
              <div class="box-shadow-extra flex bg-[#F2F1F2] w-3/4 rounded-xl my-14">
                  <div class="w-[45%]">
                      <img class="w-full h-full rounded-s-xl" src="{% static 'images/img/line-img_1.jpg' %}" alt="">
                  </div>
                  <div class="flex flex-col justify-center p-2">
                      <h3 class="text-xl font-bold p-1">Escolha o estabelecimento</h3>
                      <p class="font-medium">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti nemo magnam pariatur facilis repudiandae, facere, non aut aspernatur, in accusamus quo iusto molestias tempore alias fugit nobis unde cum voluptatem!</p>
                  </div>
              </div>   
              <div class="box-shadow-extra flex bg-[#F2F1F2] w-3/4 rounded-xl my-14">
                  <div class="w-[45%]">
                      <img class="w-full h-full rounded-s-xl" src="{% static 'images/img/line-img_2.png' %}" alt="">
                  </div>
                  <div class="flex flex-col justify-center p-2">
                      <h3 class="text-xl font-bold p-1">Reserve de forma fácil</h3>
                      <p class="font-medium">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dicta in repudiandae magnam ullam quo maiores sapiente provident voluptate. Tempore, sapiente consectetur? Soluta vitae nihil laboriosam deserunt sint, pariatur consequuntur accusamus!</p>
                  </div>
              </div>
              <div class="box-shadow-extra flex bg-[#F2F1F2] w-3/4 rounded-xl my-14">
                  <div class="w-[45%]">
                      <img class="w-full h-full  rounded-s-xl" src="{% static 'images/img/line-img_3.png' %}" alt="">
                  </div>
                  <div class="flex flex-col justify-center p-2">
                      <h3 class="text-xl font-bold p-1">Se divirta</h3>
                      <p class="font-medium">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde exercitationem, minus illo voluptatibus, error, fugiat veritatis aliquam atquevelit repudiandae eos! Ipsum, nemo ex eligendi temporibus ut alias provident eum.</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="text-center my-5">
          <a class="inline-block transition px-40 py-3 text-lg font-medium text-white bg-[#F38423] border border-none rounded hover:bg-[#c9630a]  focus:outline-none line" href="">Saber mais</a>
      </div>
  </div>
  <div class="my-12">
      <h2 class="text-[#111827] font-bold text-3xl">Conheça nossas <strong class="text-[#4D96E2]">empresas parceiras!</strong></h2>
  </div>
  <div id="slideshow" class="overflow-auto w-4/5 flex justify-center">
      <div class="single-item flex overflow-hidden whitespace-nowrap">
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/1.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/2.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/3.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/4.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/5.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/6.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/7.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/8.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/9.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/10.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/11.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/12.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/13.svg' %}" alt=""></div>
          <div class="mx-9 inline-block"><img class="w-28 h-28 mx-12 cursor-pointer transition filter grayscale hover:filter-none" src="{% static 'images/svg/parceiros/14.svg' %}" alt=""></div>
      </div>
    </section>

    <footer>
      <div class="footer">
        <h4>Interressado?</h4>
        <p>Nossa equipe adoraria ouvir o que tens a dizer:</p>
        <div class="team-icons">
          <a href="https://linktr.ee/qr/085307c3-2b49-44f0-a07c-ddf184e329e4?utm_source=qr_code" target="_blank">
            <img src="{% static 'images/foto_angelo.jpg' %}" alt="Angelo Requenha">
            <span>Angelo Requenha</span>
          </a>
          <a href="https://linktr.ee/qr/18d1239c-c2d7-4eb8-b38e-16545f3ab82c?utm_source=qr_code" target="_blank">
            <img src="{% static 'images/foto_mendes.jpg' %}" alt="Victor Mendes">
            <span>Victor Mendes</span>
          </a>
          <a href="https://www.linkedin.com/in/isabela-caroline-reiter?fromQR=1" target="_blank">
            <img src="{% static 'images/foto_isa.jpg' %}" alt="Isabela Reiter">
            <span>Isabela Reiter</span>
          </a>
          <a href="https://linktr.ee/qr/76f77ba9-fcf9-4d1a-b87b-d82cc2a227ec?utm_source=qr_code" target="_blank">
            <img src="{% static 'images/foto_ivanir.jpg' %}" alt="Ivanir Stano">
            <span>Ivanir Stano</span>
          </a>
          <a href="https://linktr.ee/qr/4db0e89b-e4f5-46c3-9e8b-5d8401092d9f?utm_source=qr_code" target="_blank">
            <img src="{% static 'images/foto_fabio.jpg' %}" alt="Fabio Peixe">
            <span>Fabio Peixe</span>
          </a>
          <a href="https://linktr.ee/victorzuchi" target="_blank">
            <img src="{% static 'images/foto_zuchi.jpg' %}" alt="Victor Zuchi">
            <span>Victor Zuchi</span>
          </a>
        </div>
        <br>
        <p>© 2024 Reserva Comigo. Todos os direitos reservados.</p>
  </div>
  <div class="w-[90%] my-12 mt-36 flex items-center justify-center">
      <hr class="w-[80%]">
      <div class="mx-15 w-full text-center">
          <h2 class="text-[#111827] font-bold text-3xl">Comece tudo isso agora com <strong class="text-[#F38423]">apenas 1 click!</strong></h2>
      </div>
    </footer>

    <script src="{% static 'js/animacao.js' %}"></script>
    <script>
      window.addEventListener('scroll', function(){
        var scrollTop = window.pageYOffset || document.documentElement.scrollTop;
        var body = document.querySelector('body');
        var speed = 0.5; // Ajuste a velocidade conforme necessário
        body.style.backgroundPositionY = scrollTop * speed + 'px';
      });
    </script>
  </body>
  
</html>

      <hr class="w-[80%]">
  </div>
  <div>
      <img class="w-[600px] my-14" src="svg/Reserva.svg" alt="">
      <a class="flex justify-center text-xl transition my-24 px-12 py-2 font-medium text-white bg-[#4D96E2] border border-none rounded-3xl hover:bg-[#3c77b6]  focus:outline-none line" href="">Começar a reservar!</a>
  </div>
</section>

{% endblock %}