{% extends "main/base.html" %}
{% load static %}

{% block content %}

<section id="principal">
    <div>
        <div class="texto">
            <h1 class="titulo">Reserva Comigo</h1>
            <h2 class="subtitulo">Liberte a sua jornada e reserve momentos inesquecíveis conosco <br>
                – no Reserva Comigo, transformamos espaços em experiências <br> únicas para tornar cada reserva especial!</h2>
        </div>
    </div>

    <!-- Seção "Sobre Nós" abaixo do título e subtítulo -->
    <div id="sobre-nos-section">
        <h2>Sobre Nós</h2>
        <p>Somos um grupo de estudantes determinados do Entra21, unidos por nossa paixão por /br
            web e design. Com habilidades diversificadas e uma visão comum, estamos comprometidos /br
            criar algo único e valioso para a comunidade.</p>
    </div>
</section>

{% endblock %}