{% extends "main/base.html" %}
{% load static %}

{% block content %}

<div class="caixa_texto">
    <h2 class="titulo">Sobre Nós</h2> <br>
    <p class="texto">Somos um grupo dedicado de estudantes provenientes do Entra21, unidos por uma paixão compartilhada pela web e design. 
        Equipados com habilidades diversas e uma visão coletiva, estamos determinados a criar algo singular e valioso para a nossa comunidade. </br>
    </br>Os integrantes deste projeto são Angelo Requenha, Daniele Karine, Isabela Caroline Reiter, Ivanir Stano e Victor Gomes Mendes. 
         Juntos criaram um aplicativo web chamado "Reserva Comigo". </br>
    </br>O "Reserva Comigo" nasceu a partir de diversas conversas em grupo, onde perceberam a necessidade de simplificar o processo de reserva 
        de espaços para atividades diversas. e da percepção coletiva de que a praticidade e a eficiência são fundamentais em nosso cotidiano.
         O aplicativo visa proporcionar uma experiência mais ágil e descomplicada na hora de garantir o local perfeito para seus momentos 
         especiais. Seja reservando uma quadra para uma animada partida de futebol entre amigos ou agendando um local para celebrar um aniversário, nossa 
         plataforma intuitiva torna todo o processo fluido e fácil.</p>
</div>

{% endblock %}