body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 20px; /* Adicionando margem ao redor de tudo */
    background-color: #e9eeee;
}

header {
    display: flex;
    justify-content: space-between; /* Adicionando espaço entre os elementos do cabeçalho */
    align-items: center;
    width: 100%; /* Ocupando toda a largura do container */
    padding: 10px; /* Adicionando preenchimento interno ao cabeçalho */
}

