/* Cabeçalho */
header {
    background-color: #333;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
}

header nav {
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#menu ul li, #menu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 15px;
}

header a {
    color: #DB5609;
    text-decoration: none;
}

.registro_login ul li, .registro_login ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 15px;
}