<!-- register_address.html -->


{% extends 'main/base_estab.html' %}

{% block content %}
{% load static %}

  <h2>Registrar Endereço</h2>

  <!-- Adicione um input para a pesquisa de endereço -->


<form method="post" class="profile-form" action="{% url 'estab_app:profile' %}" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="container">
    <div class="form-section-register">
      <h3>Adicione os dados do seu perfil</h3>
      <div class="profile-photo-field">
        <label for="foto_perfil">Foto de perfil:</label>
        <button class="profile-photo-button">
          <img id="profile-photo-preview" class="profile-photo-image" src="{{ user.foto_perfil.url }}" alt="Foto de Perfil">
        </button>
      </div>
      {{ register_form.as_p }}
    </div>


    <div class="form-section-profile">
      <h3>Adicione os dados do seu estabelecimento</h3>
      <p><input id="autocomplete" placeholder="Digite seu endereço" onFocus="geolocate()" type="text"></input></p>
      {{ profile_form.as_p }}
    </div>
  </div> 

  <div class="form-section-photos">
    <h3>Adicione as fotos do seu estabelecimento</h3>
    {{ photos_form.as_p }}
  </div>


    <button type="submit">Registrar Endereço</button>
  </form>
  <script src="{% static 'js/autocomplete.js' %}"></script>
  <!-- Inclua a biblioteca do Google Places Autocomplete -->
  <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7Ta6Dty0RKOYkQDjM3bToETR3d6Yi358&libraries=places&callback=initAutocomplete"></script>
  <script>
    $(document).ready(function() {
      $('#profile-photo-preview').click(function() {
        $('#foto_perfil').click();
      });
    });
  </script>
{% endblock %}
