{% extends "base.html" %}

{% block title %}Crie uma nova senha{% endblock %}

{% block content %}
    <h1>Crie uma nova senha</h1>
    {% if validlink %}
        <p>Por favor, digite e confirme sua nova senha</p>
        <form method="post">
            {{ form.as_p}}
            {% csrf_token %}
            <p><input type="submit" value="Change My Password"></p>
        </form>
    {% else %}
        <p>
            O link para restaurar a senha está invalido. Por favor solicite um novo.
        </p>
    {% endif %}
{% endblock %}