{% extends 'base.html' %}

{% block content %}
  <h1>Registro de Estabelecimento</h1>
  <p>Cadastre-se usando o formulário abaixo</p>
  <form method="post"  style='justify-content: center; ' enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}


    <p><input type="submit" value="Criar minha conta" class="btn btn-outline-primary"></p>
  </form>

  <!-- Adicione isso no final do seu template base.html -->
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script>
      $(document).ready(function() {
          $('[title]').tooltip();  // Inicializar tooltips para todos os elementos com o atributo 'title'
      });
  </script> 
{% endblock %}
