{% load static %}

{% block footer %}

<p>Todos os direitos reservados</p>

<ul>
    <li><a href="{{ linkedin_angelo }}">Angelo Requenha</a></li>
    <li><a href="{{ linkedin_fabio }}">Fábio Henrique Peixe</a></li>
    <li><a href="{{ linkedin_isabela }}">Isabela Caroline Reiter</a></li>
    <li><a href="{{ linkedin_ivanir }}">Ivanir Stano</a></li>
    <li><a href="{{ linkedin_victor_gomes }}">Victor Gomes Mendes</a></li>
    <li><a href="{{ linkedin_victor_zuchi }}">Victor Zuchi</a></li>
  </ul>

{% endblock %} 