{% load static %}

{% block footer %}


<p>Todos os direitos reservados</p>

<ul>
    <li><a href="https://www.linkedin.com/in/angelo-requenha/">Angelo Requenha</a></li>
    <li><a href="https://www.linkedin.com/in/fabio-henrique-peixe/">Fábio Henrique Peixe</a></li>
    <li><a href="https://www.linkedin.com/in/isabela-caroline-reiter/">Isabela Caroline Reiter</a></li>
    <li><a href="https://www.linkedin.com/in/ivanir-stano/">Ivanir Stano</a></li>
    <li><a href="https://www.linkedin.com/in/victor-gomes-mendes/">Victor Gomes Mendes</a></li>
    <li><a href="https://www.linkedin.com/in/victor-zuchi/">Victor Zuchi</a></li>
</ul>

{% endblock %} 