{% load static %} {% block usermenu %}

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    {% if user.foto_perfil %}
    <img
      src="{{ user.foto_perfil.url }}"
      alt="Foto de Perfil"
      width="52"
      height="52"
      class="rounded-circle me-2"
    />
    {% else %}
    <img
      src="{% static 'images/download (1).png' %}"
      alt=""
      width="52"
      height="52"
      class="rounded-circle me-2"
    />
    {% endif %}
    <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
    {{ request.user.email }}
    <form action="{% url 'users:logout' %}" method="post" style="display: inline;">
      {% csrf_token %}
      <button type="submit" class="botao_logout">Logout</button>
    </form>
  </div>
</div>

<script src="{% static 'js/usermenu.js' %}"></script>

{% endblock %}
