{% load static %} {% block usermenu %}

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <img
      src="{% static 'images/download (1).png' %}"
      alt=""
      width="52"
      height="52"
      class="rounded-circle me-2"
    />
    <strong>{{ request.user.first_name }} {{ request.user.last_name }}</strong>
    {{ request.user.email }}
    <form action="{% url 'users:login' %}" method="post">
      <a href="{% url 'users:logout' %}"><button class="botao_logout">Logout</button></a>

    </form>
  </div>
</div>

<script src="{% static 'js/usermenu.js' %}"></script>

{% endblock %}
