/* Cabeçalho */
header {
    background-color: rgba(29, 141, 141, 0.58); /* Transparent background color */
    display: flex;
    flex-direction: row; /* Change from column to row */
    align-items: center;
    justify-content: space-between; /* Distribute content evenly */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% to span the entire screen */
    height: 60px; /* Adjust the height as needed */
    padding: 0 20px; /* Add padding to the left and right */
    box-sizing: border-box; /* Include padding and border in the total width/height */
    z-index: 1000; /* Ensure the header appears above other elements */
}

.logo img {
    width: 100px; /* Adjust the width of the logo */
    height: auto; /* Maintain aspect ratio */
}

header nav,
.registro_login {
    display: flex;
}

header nav ul,
.registro_login ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

#menu ul li,
.registro_login ul li {
    margin-right: 20px; /* Adjust spacing between menu items */
}

header a {
    color: #DB5609;
    text-decoration: none;
}

/* Hover effect for links */
header a:hover,
.registro_login a:hover {
    color: #A83E11;
}

/* Styling for active link */
header a.active,
.registro_login a.active {
    font-weight: bold;
    color: #A83E11;
}

