@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    height: 100%;
    background-color: #f5f5f5;
}
html {
    height: 100%;
}

header {
    display: flex;
    flex-direction: row;
}

/* div da nav bar */
.navbar1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px 0;
    height: 85px;
    background-color: #2bafaf;
    border: 2px solid #DB5609;
    border-right: 0px;
}

.navbar2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    width: 50%;
    padding: 10px 0;
    height: 85px;
    background-color: #2bafaf;
    border: 2px solid #DB5609;
    border-left: 0px;
}

.navbar1 a,
.navbar2 a {
    color: black;
    text-decoration: none;
}

.navbar1 a:hover,
.navbar2 a:hover {
    color: #DB5609; /* Altere para a cor desejada no hover */
    text-decoration: underline; /* Adicione um sublinhado no hover */
    transform: scale(1.1);
}

/* div do logo */
.logo {
    margin: auto;
    width: 100%;
    padding: 10px;
    background-color: #20cccc;
}

.logo h1 {
    color: #DB5609;
}

/* IMG */
 img {
    width: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.logo img:hover {
    transform: scale(1.2);
}

h1:hover {
    transform: scale(1.1);
}

h4:hover {
    transform: scale(1.1);
}

h1, h4, p {
    border-radius: 8px;
    padding: 10px;
}

h1 {
    color: #000;
    text-align: center;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.texto_convidativo {
    margin: auto;
    width: 70%;
    padding: 10px;
}

.texto_usuario h4, .texto_espaco h4 {
    color:#DB5609;
}

.texto_usuario img, .texto_espaco img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Adicione algum espaço entre as imagens */
    transition: transform 0.3s ease-in-out;
}

.texto_usuario, .texto_espaco {
    background-color: #2bafaf;
}

h4 {
    text-align: center;
    font-family: 'M PLUS 1p';
    font-style: normal;
    line-height: normal;
}

p {
    color: #000;
    text-align: center;
    font-family: 'M PLUS 1p';
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* div do user */
.texto_usuario {
    position: absolute;
    left: 0px;
    width: 50%;
    padding: 10px;
    border: 2px solid #DB5609;
    border-right: 1px solid #DB5609;
}

.texto_espaco {
    position: absolute;
    right: 0px;
    width: 50%;
    padding: 10px;
    border: 2px solid #DB5609;
    border-left: 1px solid #DB5609;
}

a, h1, h4, p, img {
    transition: color 0.2s ease; /* Adicione um efeito de transição suave de 0.2 segundos */
}