.psobre_nos {
    max-width: 90%;
    margin-left: auto;
    text-align: justify;
    margin: 0 auto;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px;
}

.content, .image {
    display: flex;
    align-items: center;
}

.image img {
    max-width: 50%;
    text-align: center;
    margin: auto;
}
