@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');

html {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    font-family: Arial, sans-serif;
    padding: 0;
    color: #DB5609;;
    flex-direction: row;
    text-align: center;
    border: none;
}

.caixa-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.caixa-login input{
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;
    box-sizing: border-box;
}

.caixa-login a {
    color: #DB5609;
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #DB5609;
    border-radius: 3px;
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,0.75);
    width: 70%;
    margin: 10px auto;
    padding: 0px 0px 0px 5px;
}

.principal:hover {
    width: 72%;
}

#sobre-nos-section {
    margin: auto;
    background-color: rgba(80, 92, 102, 0.115);
    padding: 20px;
    text-align: center;
    border-radius: 10px; /* Adicione o valor desejado para arredondar as bordas */
    display: flex;
    flex-direction: column;
}

.titulo {
    font-size: 40px;
    margin: 10px auto 10px auto;
    font-family: 'M PLUS 1p';
    color: #DB5609; /* Adicione a cor desejada */
    text-align: center; /* Centralizar o texto */
}

.texto {
    color: #000;
    font-family: Inter;
    font-size: 25px;
    font-family: 'M PLUS 1p';
    font-weight: 400;
    line-height: normal;
}

.subtitulo {
    color: #000;
    text-align: center;
    font-family: 'M PLUS 1p';
    font-size: 25px; /* Ajuste o tamanho do subtitulo conforme necessário */
    font-style: normal;
    font-weight: 300; /* Use um valor menor para tornar o subtitulo mais leve */
    line-height: normal;
    margin-bottom: 15px; /* Adicione margem inferior para espaçamento */
}

main {
    width: 85%;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: rgba(240, 240, 240, 0.555);
}

body .main h1 {
    text-align: center;
}

/* Rodapé */
footer {
    background-color: black;
    width: 100%;
    height: 70px;
    color: #DB5609;
    text-align: center;
    text-align: center; /* Alinhamento do texto ao centro */
    font-weight: bold;
}

ul {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o espaçamento interno da lista */
}

li {
    display: inline-block; /* Exibe os itens da lista em linha */
    margin-right: 15px; /* Espaçamento à direita entre os itens */
}

a {
    text-decoration: none; /* Remove a sublinhado padrão dos links */
    color: #DB5609; /* Cor do texto dos links */
    font-weight:lighter; /* Define a espessura da fonte como negrito */
}

a:hover {
    color: #1d8d8d; /* Cor do texto dos links ao passar o mouse */
}

.logo {
    text-align: center;
    margin-top: 45px; /* Ajuste a margem superior conforme necessário */
    margin-bottom: 5px; /* Ajuste a margem inferior conforme necessário */
}

/* Ajuste para centralizar a imagem dentro da .logo */
.logo img {
    width: 100px;
    height: auto;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: #fff; /* Cor de fundo da barra de pesquisa */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    z-index: 1000; /* Para garantir que a barra de pesquisa fique acima de outros elementos */
}

.search-bar input {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #a43e12;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.caixa_texto {
    margin-top: 60px; /* Ajuste conforme necessário para evitar sobreposição com a barra de pesquisa */
}

.grupos {
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.botoes_grupo {
    padding: 20px;
    width: 100%;
    display: flex;
    justify-content: start;
}

.botoes_grupo input {
    width: 200px;
    height: 50px;
    border: none;
    color: #DB5609;
    background-color: #ebebeb;
    border-radius: 5px;
    transition: 100ms;
}

.botoes_grupo input:hover {
    color: #ebebeb;
    background-color: #DB5609;
}

.grupo_nome {
    font-size: 30px;
    border-top: solid 1px #DB5609;
    border-left: solid 1px #DB5609;
    border-bottom: solid 1px #DB5609;
    border-radius: 5px 0px 0px 5px;
    padding: 7px 7px 7px 7px;
}
