* {
  box-sizing: border-box;
}
body,
html {
  height: 100%;
  margin: 0;
}
main {
  width: 100%;
  height: 100%;
  display: flex;
}

/* SIDEBAR */
.sidebar-section {
  height: 100%;
}
.sidebar {
  height: 100% !important;
}

/* LOGO */

.sidebar-logo {
  width: 100%;
  height: 15%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-logo-img {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* IMG */
.sidebar-logo-img img {
  position: absolute;
}

.sidebar-logo-img img:nth-child(1) {
  z-index: 1;
}
.sidebar-logo-img img:nth-child(2) {
  z-index: 2;
}

/*= ROTAÇÃO DAS IMAGENS =*/

.sidebar-img_1 {
  width: 140px;
}

/* SERACH IINPUT */
.sidebar-form {
  margin-top: 20px;
}

.search-input {
  margin: 0 !important;
  border-radius: 10px 0px 0px 10px !important;
}

.search-button {
  border-radius: 0px 10px 10px 0px !important;
  padding: 4px !important;
}

#botao_colorido {
  color: #db5609;
  border: solid 1px #db5609;
}

#botao_colorido:hover {
  background-color: #db5609;
  color: white;
}

/* LISTA */
.sidebar-ul {
  padding-top: 25px;
  width: 100%;
}
.nav-item {
  padding-top: 10px;
  width: 100%;
}

.nav-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
  border-radius: 15px;
  width: 100%;
}

.nav-item a img {
  width: 25px;
  margin-right: 5px;
}

.nav-item a:hover {
  background: #2f343a;
}

/* CONTEUDO */

.content {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto; /* permite a rolagem */
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content h1 {
  margin: 50px;
}

/* ADICIONAR CONTEUDO DIV */
.adicionar-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* BOTÃO DE VOLTAR PARA O PAINEL */
.adicionar-back {
  width: 100%;
  display: flex;
  justify-content: end;
}
.adicionar-back a {
  margin: 10px 20px 10px 0px;
}

/* TITULO */
.adicionar-content h1 {
  margin: 30px;
}

/* CAIXA DO ADICIONAR */
.adicionar-box {
  position: relative;
  width: 35%;
  height: 60%;
  border-radius: 5px;
  box-shadow: 2px 3px 34px 4px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FORMULARIO ADICIONAR */
.form-adicionar {
  text-align: start;
}

/* FORMULARIO LABEL */
.adicionar-box label {
  margin-left: 12px;
}

/* INPUTS E SELECT */
.grupo-form textarea:hover,
.grupo-form input:hover {
  outline: none;
  border-color: #ff8601 !important;
  background-color: #fff;
  box-shadow: 0 0 0 4px rgb(255 134 1 / 30%) !important;
}
.grupo-form textarea:focus,
.grupo-form input:focus {
  border-color: #b15b00 !important;
  box-shadow: 0 0 0 4px rgb(255 134 1 / 50%) !important;
}

.select-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-form label {
  width: 22%;
}

.select-form select {
  width: 60%;
  margin: 5px;
}

.adicionar-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.adicionar-button input {
  background-color: #c78201;
  width: 65%;
  font-size: 18px;
  text-align: center;
  color: white;
  padding: 5px;
  padding-right: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px;
}

.adicionar-button input:hover {
  background-color: #ad7101;
}

/* Paginas */

.principal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #db5609;
  border-radius: 3px;
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.75);
  width: 70%;
  margin: 10px auto;
  padding: 0px 0px 0px 5px;
  transition: transform 0.3s ease;
}

.principal:hover {
  transform: scale(1.03);
  background-color: #f2f2f2;
  cursor: pointer;
}

.botoes_grupo {
  width: 70%;
  display: flex;
  justify-content: flex-star;
}

#dropdown {
  cursor: dropdownUser1;
}

.botao_logout {
  background-color: red;
}

.feed_container {
  border: solid 1px black;
  width: 95%;
  height: 200px;
  margin-bottom: 5px;
  border-radius: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  color: black;
}

.feed_container:hover {
  background-color: #d1d1d1;
  cursor: pointer;
  scale: 101%;
}

.feed_div {
  display: flex;
}

/* CALENDARIO */
.disponivel {
  background-color: green;
}
.indisponivel {
  background-color: red;
}

/* ------------------------------------------------------------------------------------- */

.calendario_posição {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.calendario {
  width: auto;
  background-color: #f2f2f2;
}

.calendarioForm {
  margin: 20px;
}

table {
  width: 100%;
  border: solid 1px black;
  border-collapse: collapse;
}

th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

td {
  text-align: center;
  padding: 10px;
}

/* Estilizando os dias da semana */
.weekday {
  font-weight: bold;
  color: #333;
}

/* Estilizando os dias do mês */
.day {
  cursor: pointer;
}

/* Estilizando os dias fora do mês */
.noday {
  color: #ccc;
}

.destaque {
  background-color: red;
}

#map {
  height: 400px; /* ou o tamanho desejado */
  width: 800px
}

